<form method="post" enctype="multipart/form-data" action="/Import/ImportFile">
    <input type="file" name="excelFile" accept=".xlsx, .xls">
    <button type="submit" class="btn btn-primary m-3">Lưu</button>
</form>

